<div class="menu-item-info-box">
  <span class="menu-item-info-box-icon"><img src="{{ item.imagePath }}"></span>

  <div class="menu-item-info-box-content">
    <span class="menu-item-info-box-text">{{ item.name }}</span>
    <span class="menu-item-info-box-detail">{{ item.description}}</span>
    <span class="menu-item-info-box-price">{{ item.price | currency : "BRL" : true }}</span>
    <a (click)="emitAddEvent()" class=""><i class="fa fa-plus-circle"></i> Adicionar</a>
  </div>
  <!-- /.info-box-content -->
</div>
<!-- /.info-box -->