<div class="col-md-9 col-xs-12">

 <mt-menu-item *ngFor="let item of menu | async" [item]="item"></mt-menu-item>

</div>

<div class="col-md-3 col-xs-12">
  <!--INICIO DO CARRINHO-->
  <mt-shopping-cart></mt-shopping-cart>
<!-- FIM DO CARRINHO -->
</div>